@model MvcStok.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <label>Müşteri Adı</label>
    @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.MUSTERIAD, "", new { @style = "color:green" })
    <div style="margin-top:30px">
        <label>Müşteri Soyadı</label>
        <input style="margin-top:10px" type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <div style="margin-top:20px">
        <button class="btn btn-info" id="btn1">Müşteri Ekle</button>
    </div>
   <script>
       $('#btn1').click(function () {
           alert('Müşteri Ekleme İşlemi Başarıyla Tamamlandı.');
       });
   </script>
</form>

